<h1>Cypher</h1>

<nav>
	<a href="{% url 'cypher_app:app_choice' 'binary' %}"> Binary </a> |
	<a href="{% url 'cypher_app:app_choice' 'caesar_cipher' %}"> Caesar Cipher </a> |
	<a href="{% url 'cypher_app:app_choice' 'morse_code' %}"> Morse Code </a> |
	<a href="{% url 'cypher_app:app_choice' 'pig_latin' %}"> Pig Latin </a> |
</nav>

<form action="{{ request.path }}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
</form>

{% if messages %}
	<h1>Translation</h1>

	{% for message in messages %}
		{{ message }}
	{% endfor %}
{% endif %}