{% extends 'cypher_app/base.html' %}

{% block body %}

<div class="card">

  <div class="card-header">

    <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a 
                href="{% url 'cypher_app:app' 'binary' %}"
                class="
                    {% if request.path == '/app/binary/' %}
                        nav-link active
                    {% else %}
                        nav-link
                    {% endif %}">
                Binary
            </a>
        </li>

        <li class="nav-item">
            <a 
                href="{% url 'cypher_app:app' 'caesar_cipher' %}"
                class="
                    {% if request.path == '/app/caesar_cipher/' %}
                        nav-link active
                    {% else %}
                        nav-link
                    {% endif %}">
                Caesar Cipher
            </a>
        </li>

        <li class="nav-item">
            <a 
                href="{% url 'cypher_app:app' 'morse_code' %}"
                class="
                    {% if request.path == '/app/morse_code/' %}
                        nav-link active
                    {% else %}
                        nav-link
                    {% endif %}">
                Morse Code
            </a>
        </li>

        <li class="nav-item">
            <a 
                href="{% url 'cypher_app:app' 'pig_latin' %}"
                class="
                    {% if request.path == '/app/pig_latin/' %}
                        nav-link active
                    {% else %}
                        nav-link
                    {% endif %}">
                Pig Latin
            </a>
        </li>
    </ul>

  </div>

  <div class="card-body">
    <h5 class="card-title">Choose a cipher from the above.</h5>
    <p class="card-text">The form below will change dependent on the cipher chosen.</p>

    <form action="{{ request.path }}" method="post">
    	{% csrf_token %}
    	{{ form.text.label_tag }} {{ form.text }}

    	{% if cipher_choice == "caesar_cipher" %}
    		{{ form.key.label_tag }} {{ form.key }}
    	{% endif %}

    	{{ form.operation.label_tag }} {{ form.operation }}
    	<input type="submit" value="Submit">
    </form>

    {% if messages %}
    	<h1>Translation</h1>

    	{% for message in messages %}
    		{{ message }}
    	{% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}