<h4 class="card-title">
    About Pig Latin
</h4>

<h5 class="card-title mt-4">
    Background
</h5>

<p class="card-text">
	Pig Latin, or "Igpay Atinlay" is a language game or argot in which English words are altered, usually by adding a fabricated suffix or by moving the onset or initial consonant or consonant cluster of a word to the end of the word and adding a vocalic syllable to create such a suffix. 
</p>

<p class="card-text">
   	For example, "Wikipedia" would become "Ikipediaway" (the "W" is moved from the beginning and has "ay" appended to create a suffix). The objective is to conceal the words from others not familiar with the rules. The reference to Latin is a deliberate misnomer; Pig Latin is simply a form of argot or jargon unrelated to Latin, and the name is used for its English connotations as a strange and foreign-sounding language. It is most often used by young children as a fun way to confuse people unfamiliar with Pig Latin.
</p>

<h5 class="card-title">
    Rules
</h5>

<p class="card-text">
	For words that begin with consonant sounds, all letters before the initial vowel are placed at the end of the word sequence. Then, "ay" is added, as in the following examples:
	<ul>
		<li>"pig" = "igpay"</li>
		<li>"latin" = "atinlay"</li>
		<li>"banana" = "ananabay"</li>
		<li>"will" = "illway"</li>
		<li>"butler" = "utlerbay"</li>
		<li>"happy" = "appyhay"</li>
		<li>"duck" = "uckday"</li>
		<li>"me" = "emay"</li>
		<li>"bagel" = "agelbay"</li>
	</ul>
</p>

<p class="card-text">
	When words begin with consonant clusters (multiple consonants that form one sound), the whole sound is added to the end when speaking or writing:
	<ul>
		<li>"smile" = "ilesmay"</li>
		<li>"string" = "ingstray"</li>
		<li>"stupid" = "upidstay"</li>
		<li>"glove" = "oveglay"</li>
		<li>"trash" = "ashtray"</li>
		<li>"floor"= "oorflay"</li>
		<li>"store"= "orestay"</li>
	</ul>
</p>

<p class="card-text">
	For words that begin with vowel sounds, the vowel is left alone, and most commonly 'yay' is added to the end:
	<ul>
		<li>"eat" = "eatyay"</li>
		<li>"omelet" = "omeletyay"</li>
		<li>"are" = "areyay"</li>
		<li>"egg" = "eggyay"</li>
		<li>"explain" = "explainyay"</li>
		<li>"always" = "alwaysyay"</li>
		<li>"ends" = "endsyay"</li>
		<li>"honest" = "honestyay"</li>
		<li>"I"= "Iyay"</li>
	</ul>
</p>

<h8 class="card-subtitle mb-2 text-muted">
    Retrieved from <a href="https://en.wikipedia.org/wiki/Pig_Latin">wikipedia.org/wiki/Pig_Latin</a>
</h8>