{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Cypher</title>

	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	  <a class="navbar-brand" href="#">
	  	-.-. -.-- .--. .... . .-.
	  </a>

	  <button 
	  	class="navbar-toggler" 
	  	type="button" 
	  	data-toggle="collapse" 
	  	data-target="#navbarNavAltMarkup" 
	  	aria-controls="navbarNavAltMarkup" 
	  	aria-expanded="false" 
	  	aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a 
	      	class="
				{% if request.path == '/about/' %}
	      			nav-item nav-link active
	      		{% else %}
	      			nav-item nav-link
	      		{% endif %}
      		" 
	      	href="{% url 'cypher_app:about' %}">
	      	About
	      </a>
	    </div>
	  </div>
	</nav>

	{% block body %}
	{% endblock %}

	<nav>
		<a href="{% url 'cypher_app:app' 'binary' %}"> 
			Binary 
		</a> |
		<a href="{% url 'cypher_app:app' 'caesar_cipher' %}"> 
			Caesar Cipher 
		</a> |
		<a href="{% url 'cypher_app:app' 'morse_code' %}"> 
			Morse Code 
		</a> |
		<a href="{% url 'cypher_app:app' 'pig_latin' %}"> 
			Pig Latin 
		</a> |
	</nav>
</body>